:root {
    --text-primary: #b6b6b6;
    --text-size: 16px;
}

body {
    font-family: 'Lucida Console', Monaco, monospace;
}

.generalSpan {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-bottom: 20px;
    flex-wrap: wrap;
    white-space: pre;
}

.wellDone {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 5rem;
    color: #008000;
}

.manySpans {
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
}

.inputClass,
.inputButton {
    display: flex;
    margin: auto;
    font-size: 3rem;
}

.error {
    border: dotted 5px;
    color: #ff0000;
    transform: scale(1.5, 2);
}
